
    body { 
        background-color: lightgray;
    }


    .bg {
        background: url('bg-4.jpg') no-repeat;
        width: 100vw;
        height: 100vh;
        background-size: 200%;
        border: 5px solid red;
    }
    .form-container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #000;
        }
    @media only screen and (max-width:678px) {
        .bg {
            background-size: 300%;
            }
        }
    .col-12{
        float: none;
        margin: 0 auto;
        border: 5px solid green;
        

    }
    .row{
        border: 5px solid red;
        position: absolute;
        width: 100vw;
        top: 50vh;
        left: 50vw;
        transform: translate(-50% -50%);
        /* overflow: visible; */
    }


